body {
    width: 90%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

#logo {
    width: 61.09px;
    height: 19px;
}

.header {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    list-style-type: none;
}

.navbar a {
    justify-content: space-between;
    padding: 0px 10px;
    color: black;
}

.navbar a:hover {
    padding-top: 2.4rem;
    border-top: #0065FC 3px solid;
    color: #0065FC;
}

h1 {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 700;
}

#hebergements h2 {
    margin-left: 20px;
}

#populaires h2 {
    margin-left: 20px;
}

p {
    font-size: 16px;
}

.recherche {
    height: 49px;
    display: flex;
    align-items: center;
}

.fa-solid.fa-location-dot {
    padding: 15px;
    width: 10px;
    display: inline;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#ville {
    border: 1px solid #F2F2F2;
    width: 332px;
    height: 89.8%;
}

#recherche {
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    cursor: pointer;
}

.fa-solid.fa-magnifying-glass {
    display: none;
}

input::placeholder {
    font-weight: 700;
    color: black;
}

.titrefiltres {
    display: flex;
    align-items: center;
}

.titrefiltres p {
    font-weight: 700;
    color: black;
}

.filtres {
    display: flex;
    font-size: 17px;
    align-items: center;
}

.filtres i {
    color: #0065FC;
    margin: 10px;
}

.filtres p {
    font-weight: 700;
    color: black;
}

.filtres div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    margin: 20px;
    padding: 0px 15px 0px 15px;
}

.filtres div:hover {
    background-color: #DEEBFF;
}

.fa-solid.fa-info {
    align-items: center;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 5px 10px;
}

.info {
    display: flex;
    align-items: center;

}

.info p {
    padding-left: 10px;
}

.hebergements-pluspopulaires {
    display: flex;
    justify-content: space-between;
}

#hebergements {
    width: 70%;
    background: #F2F2F2;
    border-radius: 20px;

}

#carte-hebergements {
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listes-hotels {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    border-radius: 25px;
    box-sizing: border-box;
    width: 29%;
    padding: 5px;
    box-shadow: 0px 0px 10px rgb(216, 216, 216);
    margin: 10px;
}

.listes-hotels a {
    width: 100%;
}

.listes-hotels .images {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.listes-hotels h3 {
    font-weight: 700;
    font-size: 16px;
    margin-left: 10px;
    color: black;
}

.listes-hotels p {
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    color: black;
}

.listes-hotels span {
    margin-left: 10px;
}

.afficherplus p {
    padding-left: 20px;
    margin-top: 3%;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

#populaires {
    width: 28%;
    background: #F2F2F2;
    border-radius: 20px;
}

.titrepop {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.fa-solid.fa-arrow-trend-up {
    color: #0065FC;
    margin-right: 5%;
}

#carte-populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.populaires-hotels {
    display: flex;
    flex-wrap: nowrap;
    background: white;
    border-radius: 25px;
    box-sizing: border-box;
    width: 92%;
    padding: 5px;
    box-shadow: 0px 0px 10px rgb(216, 216, 216);
    margin: 10px;
}

.populaires-hotels a {
    display: flex;
    flex-wrap: nowrap;
}

.populaires-hotels h3 {
    color: black;
    font-weight: 700;
    padding-left: 15px;
    margin: 0;
    font-size: 16px;
}

.populaires-hotels p {
    color: black;
    padding-left: 15px;
    padding-top: 5px;
    margin: 0;
    font-size: 14px;
}

.populaires-hotels span {
    padding-left: 15px;
}

.populaires-hotels .starbleu {
    margin-bottom: 5%;
    width: 12px;
    height: 12px;
}

.populaires-hotels .images-populaires {
    display: flex;
    object-position: center;
    object-fit: cover;
    width: 96px;
    height: 144px;
    border-radius: 20px 0px 0px 20px;
}

.act {
    display: flex;
    gap: 3%;
    justify-content: center;
    width: 100%;
}

.activite {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px rgb(216, 216, 216);
}

.activite h3 {
    padding-left: 5%;
    font-weight: 700;
    font-size: 14px;
    color: black;
}

.activite .images-activites {
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 444.51px;
    border-radius: 20px 20px 0px 0px;
}

footer {
    display: flex;
    justify-self: center;
}

footer h4 {
    font-weight: 700;
}

.contenu-footer {
    padding: 50px 0px 100px 10px;
    width: 100%;
    margin-top: 50px;
    background: #F2F2F2;
}

.navfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenu-footer ul {
    margin: 0;
    padding: 0;
}

.contenu-footer ul li {
    list-style-type: none;
    list-style-position: initial;
}

.contenu-footer a {
    color: black;
}

.stargris {
    color: #F2F2F2;
}

.starbleu {
    color: #0065FC;
}

/* TABLETTE */

@media screen and (max-width: 992px) {

    body {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .filtres div {
        padding: 0px 10px 0px 0px;
    }

    .hebergements-pluspopulaires {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10%;
    }

    #hebergements {
        width: 100%;
    }

    #populaires {
        width: 100%;
        margin-top: 20px;
    }

    #carte-populaires {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .populaires-hotels h3 {
        font-size: 14px;
    }

    .populaires-hotels .images-populaires {
        width: 92px;
        height: 144px;
    }

    .activite h3 {
        font-size: 12px;
    }

    .activite .images-activites {
        height: 211px;
    }

}


/* MOBILE */

@media screen and (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    .navbar {
        width: 100%;
        margin: 0;
        margin-top: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar li {
        width: 50%;
    }

    .navbar a {
        display: block;
        width: 100%;
        padding-bottom: 1.4rem;
        border-bottom: #F2F2F2 3px solid;
        text-align: center;
    }

    .navbar a:hover {
        width: 100%;
        border-bottom: #0065FC 3px solid;
        border-right: 20px;
        padding-bottom: 1.4rem;
        border-top: none;
        color: #0065FC;
        padding-top: 0;
    }

    h1 {
        margin-top: 30px;
        padding-left: 20px;
    }

    p {
        padding-left: 20px
    }

    .recherche {
        padding-left: 15px;
    }

    #recherche {
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        display: flex;
        align-items: center;
        width: 49px;
        height: 49px;
        background-color: #0065FC;
        color: white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border: none;
        cursor: pointer;
        justify-content: center;
    }

    .titrefiltres {
        display: block;
    }

    .filtres {
        align-items: start;
        flex-wrap: wrap;
    }

    .filtres div {
        width: 35%;
    }

    .fa-solid.fa-info {
        margin-left: 20px;
    }

    .hebergements-pluspopulaires {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    #hebergements {
        margin-top: 20px;
        width: 100%;
        background: white;
    }

    #carte-hebergements {
        align-items: center;
        flex-direction: column;
    }

    .listes-hotels {
        width: 92%;
        margin: 15px;
    }

    .listes-hotels p {
        padding: 0;
    }

    .afficherplus p {
        display: none;
    }

    #populaires {
        border-radius: 0px;
    }

    #carte-populaires {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .populaires-hotels .images-populaires {
        width: 137px;
        height: 144px;
    }

    #activites h2 {
        margin-left: 20px;
    }

    .act {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .activite {
        width: 93%;
        margin: 15px;
    }

    .activite h3 {
        font-size: 16px;
    }

    .activite .images-activites {
        height: 143px;
    }

    .navfooter {
        display: block;
    }

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 16px;
}

.card-footer {
    padding: 0 0 12px 15px;
}